aws-cdk.core==1.161.0
aws-cdk.aws-cloud9==1.161.0
aws-cdk.aws-codebuild==1.161.0
aws-cdk.aws-codecommit==1.161.0
aws-cdk.aws-codedeploy==1.161.0
aws-cdk.aws-codepipeline==1.161.0
aws-cdk.aws-codepipeline-actions==1.161.0
aws-cdk.aws-lambda==1.161.0
aws-cdk.aws-lambda-go==1.161.0
aws-cdk.aws-s3==1.161.0
aws-cdk.aws-s3-assets==1.161.0
aws-cdk.aws-s3-deployment==1.161.0
aws-cdk.pipelines==1.161.0
aws-cdk.aws_ssm==1.161.0
black==22.3.0
boto3==1.18.34
botocore==1.21.34
flake8==3.9.2
urllib3==1.26.18
